.beat {
  width: 86px;
  height: 35px;
  background: #2d1c3f;
  color: #8eacff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.78px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px 10px;
}

.beat:hover {
  background: #4f346b !important;
}
